.navbar_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.brandname{
    font-size: 145%;
    font-weight: 700;
    color: #212121;
    cursor: pointer;
    position: relative;
}
.brandname::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the height as needed */
    background-color: #7247cd;
    transition: width 1s ease-out ; /* Transition width over 2 seconds */
}

.brandname:hover::before {
    width: 100%; /* Expand width to 100% on hover */
}

.menu_list{
    width: 14rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu_list > li{
    font-weight: 600;
    color: #212121;
    padding: 0.2rem;
    position: relative;
}

.menu_list > li::before{
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #7247cd;
    transition: width 1s linear;
}

.menu_list > li:hover::before{
    width: 100%;
}

.menu_list > li:hover{
    color: #7247cd;
    cursor: pointer;
}
.band_sub{
    color: #7247cd;
}
.intor_hisapn{
    color: #7247cd;
}
